.mov1{
  position:absolute;
  left: 100px;
}

.mov2{
  position:absolute;
  left: 220px;
}

.b{
  text-decoration: line-through;
}

.a{
color: blue;
 }

.a1{
  display: none;
}

.b1{
  text-decoration: line-through;
  display: none;
}
