.mov1{
  position:absolute;
  left: 100px;
}

.mov2{
  position:absolute;
  left: 220px;
}

.mov3{
  position: absolute;
  left: 360px;
}

.b{
  text-decoration: line-through;
}

.a{

 }

.a1{
  display: none;
}

.b1{
  text-decoration: line-through;
  display: none;
}
